/* BEGIN STYLE SHEET */
/* Begin General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    padding-top: 100px;
}

html {
    background-color: lightgray;
}

.selectable:hover {
    border: 2px solid cornflowerblue;
 }

 body h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title {
    padding: 15px;
}

.card h1 {
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.mt-2 {
    border-style: none;
    background-color: lightgray;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.card-body label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.card-body h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

/* End general styles */

/* Begin header styles */
/* Style inspired by Module 5 starter code */
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border: 2px solid black;
}

.jumbotron h1 {
    font-size: 64px;
}
/* End header styles */

/* Begin main menu styles */
.description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
}

.description p {
    color: black;
}

.description h3 {
    color: black;
}

.card-title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
}

#select-game {
    color: darkgrey;
    text-align: center;
}

.NHL {
    background-image: url("../images/NHL_Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.PL {
    background-image: url("../images/Premier_League_Logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    margin: 0 20px;
}
/* End main menu styles */

/* Begin season selection styles */
#season-button {
    padding: 8px;
    background-color: darkgrey;
    margin: 5px;
    border-style: none;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* End season selection styles */

/* Begin high score styles */
.scoreBtns {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.gb {
    border-style: none;
    background-color: lightgray;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin: 0 10px;
}

.clr {
    border-style: none;
    background-color: lightgray;
    padding: 8px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin: 0 10px;
}
/* End high score styles */
